.about {
    display: grid;
    grid-template-columns: 1fr;
    color: #ffffff;
    border-radius: 8px;
  }
  
  .lead-details, .activities {
    padding: 1.5rem;
    border-radius: 8px;
  }
  
  .lead-details h2, .activities h2 {
    margin-bottom: 1rem;
    font-size: 1rem;
    background-color: rgb(36,39,44);
    border-radius: 5px;
    text-align:start ; /* Center aligns the heading */
    color: white; /* Ensures the text is visible */
  }

  .lead-item {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Ensures vertical alignment */
    padding: 0.75rem 0;
    border-bottom: 1px solid #333; /* Adds a subtle separator between items */
  }
  
  .lead-item:last-child {
    border-bottom: none; /* Removes border from the last item */
  }
  
  .item-label {
    font-weight: bold;
    flex: 1; /* Ensures labels take equal space */
  }
  
  .item-value {
    flex: 2; /* Values take up more space than labels */
    text-align: right; /* Aligns the value to the right side */
    color: #9c9c9e;
    word-wrap: break-word; /* Ensures long text wraps within the container */
  }
  
  .activities .campaign-details {
    padding: 1rem 0;
  }
  
  .campaign-name {
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .campaign-steps {
    font-size: 0.875rem;
    color: #9c9c9e;
    margin-bottom: 1rem;
  }
  
  .activity-step {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0;
  }
  
  .step-icon {
    font-size: 1.5rem;
  }
  
  .step-details {
    display: flex;
    flex-direction: column;
  }
  
  .step-title {
    font-weight:100;
  }
  
  .step-status {
    font-size: 0.8rem;
    color: #9c9c9e;
  }
  