.container{
    display: flex;
    width: 100%;
    gap: 1rem;
    height: 48rem;
}
.mails{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.text-editor{
    border-right: 1px solid #3a3a3c;
    border-left: 1px solid #3a3a3c;
    width: 59%;
}
.about{
    width: 21%;
}

